.aside
{
    width: 270px;
    height: 900px;
    background: #F2EAE1;

    &__flex
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__top
        {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__logo
            {
                display: flex;
                align-items: center;
                gap: 12px;
                margin-top: 18px;

                span 
                {
                    border: 1px solid #F8D442;
                    height: 25px;
                    color: #F8D442;
                    background: #F8D442;
                }

                h1
                {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;

                    color: #000000;
                }
            }

            &__admin
            {
                margin-top: 54px;
                display: flex;
                flex-direction: column;
                align-items: center;

                h3
                {
                    font-weight: 700;
                    font-size: 17px;
                    line-height: 21px;
                    color: #000000;
                    margin-top: 20px;
                }

                a
                {
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FEAF00;
                    margin-top: 10px;
                }

            }

        }

        &__medium
        {
            margin-top: 80px;
            &__ul
            {
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 21px;

                .active
                {
                    background: #FEAF00;
                }

                .li
                {
                    padding: 12px 40px;
                    width: 193px;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    gap: 17px;
                    transition: 0.3s;
                    cursor: pointer;

                    &:hover
                    {
                        background: #FEAF00;
                    }

                    a
                    {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #000000;
                    }

                }

            }
        }

        &__login
        {
            margin-top: 105px;

            a
            {
                display: flex;
                align-items: center;
                gap: 23px;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                text-decoration: none;

            }

        }


    }
}